.chat-messages {
    flex-grow: 1;
    padding: 25px; /* Больше отступы */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Больше расстояние между сообщениями */
    background-color: var(--bg-color);
}

@media (max-width: 768px) {
    .chat-messages {
        padding: 20px 15px; /* Паддинги для мобильных */
        gap: 18px;
    }
}